.df-center{
    display: flex;
        align-items: center;
}
:root {
    --main-font-family: "Roboto", sans-serif;
    --main-color: #0d8d47;
    --transition: .6s;
    --white-color: #ffffff;
}

// --------------------------------------

.topbar .topbar-row{
    padding: 6px 0px;
}

.navbar-main {
    padding: 10px 0px !important;
}
.navbar-brand{
    height: unset !important;
    img{
        width: 140px;
        object-fit: contain;
    }
}

.topbar {
    height: unset !important;
}
.navbar-main.stiky {
    padding-top: 40px !important;
}

.banner{
     .overlay-bg {
    background-color: rgb(0 0 0 / 37%);
}
}
.wrap-caption .excerpt{
    background-color: #81c55d !important;
}
.slides-navigation a:hover{
    background: #81c55d;;
}
.feature-box-8.style-2:hover{
    background-color: #0d8d47;
}
.feature-box-8.style-2:hover .more {
    background-color: #81c55d;
    color: #009144;
    border-color: #81c55d;
}

.vidimg .play-vid:hover, .section-heading , .box-icon-1:hover .icon .fa{
    background-color: #81c55d;
}
.font__color-2, .counter-1 .counter-title {
    color: #ddf6d0;
}

.counter_sec{
    .counter-1{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .counter-number{
        font-size: 40px;
width: 100%;
padding-right: unset;
    }
    }
}
.bg-overlay-2:before , .footer {
    background-color: #0d8d47 !important;
}

.feature-box-7:hover .icon-holder, .feature-box-7:hover  {
    background-color: #81c55d;
}
.feature-box-7 .body .title {
    color: #fff;
}
#owl-testimony .owl-controls .owl-nav [class*=owl-] {
    background: #81c55d;
    border-color: #81c55d;
}

#caro-project .owl-controls .owl-nav [class*=owl-]:hover, #caro-project-2 .owl-controls .owl-nav [class*=owl-]:hover, #owl-testimony .owl-controls .owl-nav [class*=owl-]:hover {
    background: #0d8d47;
    color: #ffffff;
    border-color: #0d8d47;
}



/*================================================
Global Transfers Area CSS
=================================================*/
.global-transfers-area {
    background-color: #FAFAFB;
    padding: 60px 0px;
    .section-title h2 {
        font-size: 35px;
        margin-bottom: 0;
        line-height: 1.4;
    }
    .section-title {
        text-align: center;
        max-width: 585px;
        margin: 0 auto 40px;
    }
    .icon{
        img{
            height: 75px;
        }
    }
  }
  
  .single-global-transfers-card {
    margin-bottom: 25px;
    padding: 25px;
    border-radius: 0;
    transition: var(--transition) !important;
    border: 1px solid #E5E5E5;
    transition: .3s;
    min-height: 355px;
  }
  .single-global-transfers-card .icon {
    line-height: 1;
    margin-bottom: 20px;
  }
  .single-global-transfers-card .icon i {
    color: var(--main-color);
    font-size: 65px;
    line-height: 0;
  }
  .single-global-transfers-card h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
    line-height: 1.4;
  }
  .single-global-transfers-card .global-btn {
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--main-color);
    transition: var(--transition);
  }
  .single-global-transfers-card:hover {
    background-color: var(--white-color);
    box-shadow: 2px 4px 30px rgba(1, 123, 113, 0.06);
    border-radius: 5px;
    border: 1px solid var(--white-color);
  }
  .single-global-transfers-card:hover .global-btn {
    letter-spacing: 1px;
  }
  
  .footer{
     background-color: #096f37 !important;;
    .box-info {
        border-bottom: 3px solid #81c55d;
      }
      .box-info .box-info-icon{
        color: #81c55d;
      }
      .box-info:hover {
        background-color: transparent !important;
    }
    .footer .box-info .box-info-body {
        border-left: 1px solid #81c55d;
    }
    .footer-item .footer-sosmed a .item {
        background-color: #81c55d !important;
    }
    .footer-item .list li a {
        color: #ffffff;
    }
  .fcopy {
        background-color: #81c55d;
        color: #000;
        text-align: center;
    }
.footer-item .logo-bottom {
        width: 140px;
    }
    .footer-item{
        h6{
            color: #c3efab;
            padding-bottom: 5px;
            font-size: 18px;
        }
    }
  .footer-item .footer-sosmed {
        margin-top: 30px;
    }
  } 
  .bg-grey {
   position: relative;
    .overview-shape {
        position: absolute;
        left: -270px;
        top: -220px;
        opacity: 25%;
        animation: moveleftbounce 5s linear infinite;
    }
  }
@keyframes moveleftbounce{
  0% {
    transform: translateX(0px);
}

50% {
    transform: translateX(20px);
}
100% {
    transform: translateX(0px);
}
}

.view-more{
    padding-top: 10px;
    transition: .3s;
}

.topbar{
    .fa-mobile{
        &::before{
            font-size: 14px;
        }
    }
    .info {
        padding: 14px 0px !important;
        align-items: center;
        .topbar-content{
            p{
                margin: 0 !important;
            }
        }
    }
}

.bg-why {
    .icon1 img{
        width: 150px !important;
        @media (max-width:991px){
            width: 60px !important;
        }
    }
    .icon3 img{
        width: 190px !important;
        @media(max-width:991px){
            width: 60px !important;
        }
    }
    .content {
        .rm-1{
        margin-top: 0px !important;
        }
        p{
            font-size: 14px !important;
            line-height: 22px !important;
            @media (min-width:767px){
            min-height: 88px !important;
            }
        }
        .title{
            margin-bottom: 2px !important;
        }
    }
    .feature-box-8.style-2{
        @media (min-width:767px){
        padding: 30px 30px !important;
        }
        &:hover{
            .read-more{
                color: #fff !important;
                span{
                    border-color: #fff !important;
                }
            }
            .icon1{
                img{
                    filter: brightness(0) invert(1) !important;
                }
                }
        }
        @media(min-width:767px) and (max-width:991px){
            .body{
                flex-direction: column;
            }
        }
        @media (max-width:767px){
            border-bottom: 1px solid #e7e7e7;
        }
    }
    @media (max-width:767px){
    .border-right{
       border-color: transparent !important;
    }
    }
}

.agri-dhan-vikas .section-title, .product-section .container h2, .gallery .container h2   {
    color: #7fc55d !important;
    font-size: 54px !important;
}
.agri-dhan-vikas .cards-grid .card .card-content .read-more span{
    width: 20px !important;
    height: 20px !important;
}
.membership-section .membership-right h4{
    font-weight: 400 !important;
}
.membership-section .membership-right .contact-form button{
    padding: 3px 30px !important;
}
.product-section .container .read-more a{
    display: flex
    ;
        align-items: center;
        gap: 10px;
        justify-content: flex-end;
        span{
            display: flex
            ;
                align-items: center;
                justify-content: center;
                width: 20px !important;
                height: 20px !important;
                padding-right: 0px !important
        }
}
.gallery {
    padding: 40px 80px;
    background-color: #fff !important;
    @media (max-width:575px){
        padding: 40px 20px;
    }
    h2{
        padding-bottom: 20px;
    }
    p{
        font-size: 18px;
    }
    .tabs{
        display: flex  ;
            justify-content: center;
            gap: 10px;
            padding: 10px 0px;
            @media(max-width:575px){
                flex-direction: column;
            }
    }
   .container .tabs .tab   {
        padding: 5px 50px !important;
        min-width: 140px;
        border: 1px solid #208a3c;
        @media(max-width:575px){
            margin: 0 !important;
        }
    }
 .container .media-grid {
        gap: 3rem !important;
        padding-top: 40px;
    }
    .media-grid .media-item{
    
        img, video{
            transition: transform 0.3s ease;
        }
        &:hover{
            transform: none !important;
            transition: transform 0.3s ease;
            img{
                transform: scale(1.1);
                transition: transform 0.3s ease;
            }
        }
        img{
            @media (max-width:575px){
                height: 300px !important;
            }
        }
    }
}

.banner-sec{
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .overlay{
        position: absolute;
        background-color: rgb(0 0 0 / 57%);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    h3{
        color: #fff;
        font-size: 50px;
        position: relative;
        text-transform: uppercase;
    }
}

.about-page{
    .reset-section-heading{
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 20px;
    }


.pt-120{
    padding-top: 120px !important;
}

.vision-mission{
    .box-icon-1 {
        border: 1px solid #81c55d38;
        padding: 30px;
       .icon {
            float: none !important;
        }
        .body-content{
            margin-left: 0 !important;
        }
        .title:after{
        margin: 3% 0 !important;
        @media (max-width: 768px) {
            left: 50%;
            position: absolute;
            margin-left: -15px !important;
            margin: 1% 0 !important;
        }
    }
}
}
.testimony{
    margin-top: -120px !important;
}

}

.download {
    .tabs{
        display: flex  ;
            justify-content: center;
            gap: 10px;
            padding: 10px 0px;
            @media(max-width:575px){
                flex-direction: column;
            }
    }
    .tab {
        padding: 5px 50px !important;
        border: 1px solid #208a3c;
        @media(max-width:575px){
            margin: 0 !important;
        }
    
    }
    .brochure-grid{
        padding-top: 40px;
        grid-template-columns: repeat(4, 1fr);
        @media(min-width:575px) and (max-width:991px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media(max-width:575px){
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.spacer-40{
    padding-top: 40px;
}

.download, .agri-dhan-vikas {
    background-color: #fff !important;
}

.agri-dhan-vikas {
    padding: 0px 0px 100px 0px;
}
.product-section {
    padding: 90px 20px;
}

@media (max-width: 768px) {
    .box-icon-1 .icon {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        .fa{
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
    }
}

.agri-dhan-vikas .cards-grid .card .card-content h3 {
    font-size: 18px !important;
    line-height: 24px;
}

.service{
     .section-title{
        text-align: left !important;
        margin-bottom: 0 !important;
    }
    .pro_description{
        padding-top: 20px;
        padding-bottom: 30px;
        @media(min-width: 992px){
        max-width: 70%;
        }
    }
}