@import url(https://db.onlinewebfonts.com/c/0a4a5e68b7929fb9a01c2b5533f79641?family=Zooja+Light+Pro);

@media(min-width:767px) {
    .df-center {
        display: flex;
        align-items: center;
    }
}

@media(min-width:576px) and (max-width:991px) {
    #owl-testimony .owl-nav .owl-next {
        right: 0;
    }

    #owl-testimony .owl-nav .owl-prev {
        left: 0;
    }
}

@media(min-width:767px) and (max-width:991px) {
    .navbar-nav>li>a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 768px) {
    .header-1 .navbar-nav>li:last-child a {
        padding-left: 25px;
        padding-right: 25px !important;
    }
}

@media(min-width:767px) {
    .navbar-toggle {
        display: none !important;
    }
}

// 

:root {
    --main-font-family: "Roboto", sans-serif;
    --main-color: #0d8d47;
    --transition: .6s;
    --white-color: #ffffff;
}

// --------------------------------------

.topbar .topbar-row {
    padding: 6px 0px;
}

.navbar-main {
    padding: 10px 0px !important;
}

.navbar-brand {
    height: unset !important;

    img {
        width: 140px;
        object-fit: contain;
    }
}

.topbar {
    height: unset !important;
}

.navbar-main.stiky {
    padding-top: 40px !important;
}

.banner {
    .overlay-bg {
        background-color: rgb(0 0 0 / 37%);
    }
}

.wrap-caption .excerpt {
    background-color: #81c55d !important;
}

.slides-navigation a:hover {
    background: #81c55d;
    ;
}

.feature-box-8.style-2:hover {
    background-color: #0d8d47;
}

.feature-box-8.style-2:hover .more {
    background-color: #81c55d;
    color: #009144;
    border-color: #81c55d;
}

.vidimg .play-vid:hover,
.section-heading,
.box-icon-1:hover .icon .fa {
    background-color: #81c55d;
}

.font__color-2,
.counter-1 .counter-title {
    color: #ddf6d0;
}

.counter_sec {
    .counter-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .counter-number {
            font-size: 40px;
            width: 100%;
            padding-right: unset;
        }
    }
}

.bg-overlay-2:before,
.footer {
    background-color: #0d8d47 !important;
}

.feature-box-7:hover .icon-holder,
.feature-box-7:hover {
    background-color: #81c55d;
}

.feature-box-7 .body .title {
    color: #fff;
}

#owl-testimony .owl-controls .owl-nav [class*=owl-] {
    background: #81c55d;
    border-color: #81c55d;
}

#caro-project .owl-controls .owl-nav [class*=owl-]:hover,
#caro-project-2 .owl-controls .owl-nav [class*=owl-]:hover,
#owl-testimony .owl-controls .owl-nav [class*=owl-]:hover {
    background: #0d8d47;
    color: #ffffff;
    border-color: #0d8d47;
}



/*================================================
Global Transfers Area CSS
=================================================*/
.global-transfers-area {
    background-color: #FAFAFB;
    padding: 60px 0px;

    .section-title h2 {
        font-size: 35px;
        margin-bottom: 0;
        line-height: 1.4;
    }

    .section-title {
        text-align: center;
        max-width: 585px;
        margin: 0 auto 40px;
    }

    .icon {
        img {
            height: 75px;
        }
    }
}

.single-global-transfers-card {
    margin-bottom: 25px;
    padding: 25px;
    border-radius: 0;
    transition: var(--transition) !important;
    border: 1px solid #E5E5E5;
    transition: .3s;
    min-height: 355px;
}

.single-global-transfers-card .icon {
    line-height: 1;
    margin-bottom: 20px;
}

.single-global-transfers-card .icon i {
    color: var(--main-color);
    font-size: 65px;
    line-height: 0;
}

.single-global-transfers-card h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
    line-height: 1.4;
}

.single-global-transfers-card .global-btn {
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--main-color);
    transition: var(--transition);
}

.single-global-transfers-card:hover {
    background-color: var(--white-color);
    box-shadow: 2px 4px 30px rgba(1, 123, 113, 0.06);
    border-radius: 5px;
    border: 1px solid var(--white-color);
}

.single-global-transfers-card:hover .global-btn {
    letter-spacing: 1px;
}

.footer {
    background-color: #092e39 !important;
    ;

    .box-info {
        border-bottom: 1px solid #81c55d;
        border: 1px solid #81c55d;
        border-radius: 70px;
        display: flex;
        align-items: center;
        border-left: none;
        padding-right: 30px;

        @media(min-width:767px) {
            justify-content: space-between;
        }

        .box-info-body {
            padding: 6px 0 6px 8px;

            h4 {
                font-size: 14px;
                font-weight: 400;
            }

            .holiay {
                font-size: 10px;
            }
        }

        .box-info-icon {
            padding: 0px 0px;

            img {
                width: 30px;
                height: 30px;
            }
        }

    }

    .box-info .icon-wrapper {
        color: #81c55d;
        width: 60px;
        height: 60px;
        border: 1px solid #81c55d;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box-info:hover {
        background-color: transparent !important;
    }

    .footer .box-info .box-info-body {
        border-left: 1px solid #81c55d;
    }

    .footer-item .footer-sosmed a .item {
        background-color: #81c55d !important;
    }

    .footer-item .list li a {
        color: #ffffff;
    }

    .fcopy {
        background-color: #0b8c47;
        color: #000;
        text-align: center;

        p {
            color: #78c157;
        }
    }

    .footer-item .logo-bottom {
        width: 140px;
    }

    .footer-item {
        h6 {
            color: #7cc55d;
            padding-bottom: 5px;
            font-size: 18px;
        }
    }

    .footer-item .footer-sosmed {
        margin-top: 10px;
    }
}

.footer .footer-item .footer-title {
    color: #7cc55d;
    text-transform: capitalize;
}

.bg-grey {
    position: relative;

    .overview-shape {
        position: absolute;
        left: -270px;
        top: -220px;
        opacity: 25%;
        animation: moveleftbounce 5s linear infinite;
    }
}

@keyframes moveleftbounce {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0px);
    }
}

.view-more {
    padding-top: 10px;
    transition: .3s;
}

.topbar {
    .fa-mobile {
        &::before {
            font-size: 14px;
        }
    }

    .info {
        padding: 14px 0px !important;
        align-items: center;

        .topbar-content {
            p {
                margin: 0 !important;
            }
        }
    }
}

.bg-why {
    .icon1 img {
        width: 150px !important;

        @media (max-width:991px) {
            width: 60px !important;
        }
    }

    .icon3 img {
        width: 190px !important;

        @media(max-width:991px) {
            width: 60px !important;
        }
    }

    .content {
        .rm-1 {
            margin-top: 0px !important;
        }

        p {
            font-size: 14px !important;
            line-height: 22px !important;

            @media (min-width:767px) {
                min-height: 88px !important;
            }
        }

        .title {
            margin-bottom: 2px !important;
        }
    }

    .feature-box-8.style-2 {
        @media (min-width:767px) {
            padding: 30px 30px !important;
        }

        &:hover {
            .read-more {
                color: #fff !important;

                span {
                    border-color: #fff !important;
                }
            }

            .icon1 {
                img {
                    filter: brightness(0) invert(1) !important;
                }
            }
        }

        @media(min-width:767px) and (max-width:991px) {
            .body {
                flex-direction: column;
            }
        }

        @media (max-width:767px) {
            border-bottom: 1px solid #e7e7e7;
        }
    }

    @media (max-width:767px) {
        .border-right {
            border-color: transparent !important;
        }
    }
}


.product-section .container h2,
.gallery .container h2 {
       font-size: 46px;
    font-weight: 500;
    color: #222222;

    @media (max-width: 600px) {
        font-size: 36px !important;
    }
}

.agri-dhan-vikas .cards-grid .card .card-content .read-more span {
    width: 20px !important;
    height: 20px !important;
}

.membership-section .membership-right h4 {
    font-weight: 400 !important;
}

.membership-section .membership-right .contact-form button {
    padding: 3px 30px !important;
}

.product-section .container .read-more a {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px !important;
        height: 20px !important;
        padding-right: 0px !important
    }
}

.gallery {
    padding: 40px 80px;
    background-color: #fff !important;

    @media (max-width:575px) {
        padding: 40px 20px;
    }

    h2 {
        padding-bottom: 20px;
    }

    p {
        font-size: 18px;
    }

    .tabs {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 10px 0px;

        @media(max-width:575px) {
            flex-direction: column;
        }
    }

    .container .tabs .tab {
        padding: 5px 50px !important;
        min-width: 140px;
        border: 1px solid #208a3c;

        @media(max-width:575px) {
            margin: 0 !important;
            padding: 0px !important;
            min-width: 70px !important;
        }
    }

    .container .media-grid {
        gap: 3rem !important;
        padding-top: 40px;
    }

    .media-grid .media-item {

        img,
        video {
            transition: transform 0.3s ease;
        }

        &:hover {
            transform: none !important;
            transition: transform 0.3s ease;

            img {
                transform: scale(1.1);
                transition: transform 0.3s ease;
            }
        }

        img {
            @media (max-width:575px) {
                height: 300px !important;
            }
        }
    }
}

.banner-sec {
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .overlay {
        position: absolute;
        background-color: rgb(0 0 0 / 57%);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    h3 {
        color: #fff;
        font-size: 50px;
        position: relative;
        text-transform: uppercase;
    }
}

.about-page {
    .reset-section-heading {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 20px;
    }


    .pt-120 {
        padding-top: 120px !important;
    }

    .vision-mission {
        .box-icon-1 {
            border: 1px solid #81c55d38;
            padding: 30px;

            .icon {
                float: none !important;
            }

            .body-content {
                margin-left: 0 !important;
            }

            .title:after {
                margin: 3% 0 !important;

                @media (max-width: 768px) {
                    left: 50%;
                    position: absolute;
                    margin-left: -15px !important;
                    margin: 1% 0 !important;
                }
            }
        }
    }

    .testimony {
        margin-top: -120px !important;
    }

}

.download {
    .tabs {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 10px 0px;

        @media(max-width:575px) {
            flex-direction: column;
        }
    }

    .tab {
        padding: 5px 50px !important;
        border: 1px solid #208a3c;

        @media(max-width:575px) {
            margin: 0 !important;
        }

    }

    .brochure-grid {
        padding-top: 40px;
        grid-template-columns: repeat(4, 1fr);

        @media(min-width:575px) and (max-width:991px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media(max-width:575px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.spacer-40 {
    padding-top: 40px;
}

.download,
.agri-dhan-vikas {
    background-color: #fff !important;
}

.agri-dhan-vikas {
    padding: 60px 0px 100px 0px;
    background-color: #f7f8f9 !important;

    @media(max-width:575px) {
        padding-bottom: 50px;
    }

    .section-title {
        color: #222222 !important;
        margin-bottom: 10px;
        font-size: 46px;

        @media(max-width:575px) {
            font-size: 34px;
        }
    }

    .subtitle {
        text-align: center;
        color: #757678;
        font-size: 16px;
    }
}

.product-section {
    padding: 90px 20px;
}

@media (max-width: 768px) {
    .box-icon-1 .icon {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;

        .fa {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
    }
}

.agri-dhan-vikas .cards-grid .card .card-content h3 {
    font-size: 18px !important;
    line-height: 24px;
    min-height: 48px;

}

.service {
    .section-title {
        text-align: left !important;
        margin-bottom: 0 !important;
    }

    .pro_description {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-bottom: -80px;

        @media(min-width: 992px) {
            max-width: 70%;
        }
    }
}

.header-1 .stiky .navbar-nav>li:last-child a {
    padding-left: 0px !important;
}

.service-details {
    padding: 70px 0px;

    @media(max-width:767px) {
        padding: 70px 20px;
    }

    .content-sec {
        h2 {
            font-size: 38px;
            max-width: 60%;

            @media(max-width:575px) {
                font-size: 26px;
                max-width: 100%;
            }
        }

        .description {
            font-size: 16px;
            text-align: justify;
        }

        .subsec {
            .subtitle {
                color: #343030;
                font-size: 26px;

                @media(max-width:575px) {
                    font-size: 22px;
                }
            }

            li {
                font-size: 15px;

                strong {
                    margin-right: 5px;
                    font-size: 16px;
                }
            }
        }

        .submaintitle {
            font-size: 25px;

        }

        h5 {
            font-size: 20px;
            margin-bottom: 0px;
            padding-top: 30px;
        }

        h6 {
            padding: 20px 0px;
            font-size: 16px;
            color: #096f37;
        }

        .table-sec {
            padding-top: 10px;
        }

        th,
        td {
            padding: 14px 20px;
        }
    }
}

.footer .box-info .box-info-body {
    border-left-color: transparent !important;
}

.blog {
    display: none !important;
}

.holiay {
    font-size: 13px;
    font-weight: 400;

}

.fcopy {
    @media(min-width:767px) {
        .left {
            text-align: left !important;
        }

        .right {
            text-align: right !important;
        }
    }

    @media(max-width:766px) {
        padding: 20px 0 10px 0 !important;

        .ftex {
            margin-bottom: 10px !important;
        }
    }
}

@media(max-width:575px) {
    .footer .box-info .box-info-body {
        padding: 20px 0 20px 0px !important;
    }

    .footer .box-info .box-info-icon {
        padding: 20px 20px !important;
    }
}

.product-card {
    .price {
        display: none;
    }
}

.vidimg img {
    height: 500px;
    object-fit: cover;
}

.service-details strong {
    font-size: 17px;
}



.slides-pagination {
    position: absolute;
    bottom: 30px;
    z-index: 9;
    width: 100%;
    text-align: center;
}

.slides-dots {
    text-align: center;
    margin-top: 10px;
}

.slides-dots .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.slides-dots .dot.active {
    background: #333;
}

.slides-pagination a {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    /* Makes it a circle */
    text-indent: -9999px;
    /* Hides the number */
    overflow: hidden;
}

.slides-pagination a.current {
    background-color: #009144;
    /* Active dot color */
}

.pt-80 {
    padding-top: 80px !important;
}

.know-more-btn {
    color: #2c7f3c;
    border: 1px solid #2c7f3c;
    padding: 3px 14px;
    border-radius: 5px;
}

.home-about {
    padding-bottom: 80px;

    h1 {
        font-size: 46px;
        font-weight: 500;
        color: #222222;

        @media(max-width:575px) {
            font-size: 34px;
        }
    }

    .vidimg {
        border-radius: 0;

        img {
            height: 340px;
            width: 80%;

            @media(max-width:575px) {
                height: 220px;
                width: 100%;
            }
        }
    }

    @media(max-width:766px) {
        .dv-center {
            flex-direction: column;
        }

        .reset-section-heading {
            padding-top: 60px;
        }
    }
}

.dv-center {
    display: flex;
    align-items: center;
}

.home-expore {
    padding-bottom: 80px;
    position: relative;

    .overlay {
        position: absolute;
        background-color: rgb(0 0 0 / 37%);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .carousel-caption {
        top: 50%;
        margin-top: -55px;

        h3 {
            font-family: "Zooja Light Pro" !important;
            font-size: 40px;
            font-weight: 100;

            @media(max-width:766px) {
                font-size: 30px;
            }
        }
    }

    .carousel-control {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #fff;
        border-radius: 50%;
        background-image: none;
        top: 50%;
        margin-top: -15px;
    }

    .right {
        right: 30px;
    }

    .left {
        left: 30px;
    }

    .section-title {
        padding-bottom: 20px;
        text-align: center;
        color: #222222 !important;
        font-weight: 500;
        font-size: 46px;

        @media(max-width:575px) {
            font-size: 34px;
        }
    }
}

.pt-40 {
    padding-top: 40px;
}

.footer .footer-item .footer-sosmed a .item {
    color: #fffefe;
}

.footer .footer-item .footer-subscribe input[type=email] {
    background-color: #abd8b0;
    padding-left: 50px;
    border-radius: 20px;

}

.footer .footer-item .footer-subscribe label {
    background-color: #abd8b0;
    left: 0;
    background-color: #abd8b0;
    top: 1px;
    left: 0;
    width: 36px;
    height: 36px;
    border: 1px solid #fff;
    border-radius: 50px;

    img {
        width: 20px;
        height: 20px;
    }
}

.footer .footer-item .footer-subscribe input[type=email]:focus {
    border-radius: 20px !important;
}

.membership-left-img {
    position: absolute;
    top: -149px;
}

@media(max-width:766px) {
    .membership-section {
        .membership-left-img {
            display: none;
        }

        .dv-center {
            flex-direction: column;
        }

        .mob-100 {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}

.footer .footer-item .footer-title {
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
}

.footerAddress {
    max-width: 98%
}

.projectInnerPage {
    overflow: hidden;

    .dark_bg {
        background-color: #e2eecc;
        padding: 40px 0px;
    }

    .hrline {
        background-color: #55c06a;
        margin: 40px 0px;
        margin-bottom: 70px;
    }



    .visionMissionImg {
        img {
            height: 250px;
            object-fit: contain;
        }
    }

    .top_left_img {
        img {
            height: 390px;
            width: 90%;
            object-fit: cover;

            @media(max-width:767px) {
                height: 250px;
                width: 100%;
            }
        }
    }

    h1 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .reduce_width {
        max-width: 90%;
    }

    .green_bg {
        background-color: #27b14b;
        padding: 30px 0px;
        text-align: center;

        p {
            color: #fff;
            font-size: 16px;
        }

        .grid_sec {
            padding-top: 30px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            @media(max-width:767px) {
                grid-template-columns: repeat(2, 1fr);
                gap: 50px;

            }

            .singlegrid {
                text-align: center;

                .iconwrapper {
                    img {
                        width: 50px;
                        height: 50px;
                        margin: 0 auto;
                    }
                }

                p {
                    padding-top: 10px;
                    margin: 0 auto;
                    line-height: 20px;
                }
            }
        }
    }
}

.proInnerBanner {
    .banner-sec {
        height: 300px;

        @media(max-width:767px) {
            padding: 0px 20px;
        }
    }
}

.fmcgInner {
    h1 {
        font-size: 28px;
    }

    .top_left_img img {
        height: 260px;
        width: 60%;
        margin: 0 auto;

        @media(max-width:766px) {
            width: 100%;
        }
    }

    .pt-60 {
        padding: 60px;
    }

    .alternate_bg {
        background-color: #eee;

    }
}

.upcoming_project {
    .dark_bg {
        h3 {
            font-size: 20px;
        }
    }

    @media(max-width:991px) {
        .upcoming_grid {
            display: flex;
            flex-direction: column;

        }
    }
}

.ecotourism {
    .grid_sec {
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 50px;

        @media(max-width:767px) {
            grid-template-columns: repeat(2, 1fr) !important;

        }
    }
}

@media(max-width:767px) {
    .mob-column {
        flex-direction: column;
    }

    .mob-column-reverse {
        flex-direction: column-reverse !important;
    }

    .abtPage .banner-sec h3 {
        font-size: 30px;
        text-align: center;
    }

    .agri-sec h1 {
        padding-top: 0px !important;
    }
}

.rec_table {
    .bg_green_head {
        background-color: #81c55d;
        color: #fff;
        text-align: center;
        font-size: 18px;

        @media(max-width:575px) {
            font-size: 18px;
        }
    }

    .subhead {
        background-color: #e6e7e9;
    }

    td {
        background-color: #f2f3f4;
    }

    .green_row {
        td {
            background-color: #e7f1d4;
        }
    }

    td,
    th {
        padding: 10px;
        border-color: #fff;
    }
}

.rcfc_sec h5 {
    font-size: 20px !important;
    padding-top: 30px;
}

.condition {
    font-size: 12px;
    color: green;
    margin-top: -20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.barat-darshan-sec {
    color: #0e2f3b;

    .description {
        padding: 40px 20px 0px 20px;
        color: #0e2f3b;
    }

    h5 {
        font-size: 22px;
        color: #27b14e;
        font-weight: 400;
    }

    .right-div {
        border: 1px solid #27b14e;
        padding: 13px 20px;
        border-radius: 20px;
        line-height: 22px;
    }

    .specials {
        padding-top: 20px;
        display: flex;
        align-items: center;
    }
}

.tourism_bg {

    .grid_sec {
        padding-top: 30px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding-bottom: 20px;
        gap: 50px;

        @media(max-width:767px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;

        }

        .singlegrid {
            text-align: center;

            .iconwrapper {
                img {
                    width: 50px;
                    height: 50px;
                    margin: 0 auto;
                }
            }

            p {
                padding-top: 10px;
                margin: 0 auto;
                line-height: 20px;
            }
        }
    }
}

.kejon-inner .green_bg {
    color: #fff;
    padding: 90px 0px;
    text-align: left !important;

    .grid_sec {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;

        .singlegrid {
            text-align: left !important;

            h5 {
                font-size: 18px !important;
                font-weight: 400 !important;
            }
        }

        @media(min-width:576px) and (max-width:991px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media(max-width:575px) {
            grid-template-columns: repeat(1, 1fr);

            h5 {
                margin-bottom: 0 !important;
            }
        }
    }
}

.green_text {
    color: #27b14e;
    ;
}

.shaktipoorna {
    .top_left_img img {
        width: 100% !important;
        height: 360px !important;
    }

    .fmcgInner {
        background-color: #27b14e;
        ;

        p {
            color: #fff;

            @media(max-width:767px) {
                padding-top: 30px;
            }
        }

        li,
        h1 {
            color: #fff;

        }

        h1 {
            font-size: 36px;

        }

    }
}

@media(max-width:767px) {
    .mb-top {
        padding-top: 70px;
    }

    .mb-top-30 {
        padding-top: 30px;
    }

    .mb-column {
        flex-direction: column;
    }

    .mb-margin-minus {
        margin-top: -30px;
    }

    .rcfc_sec {
        .dv-center {
            flex-direction: column;
        }
        .rec_table{
            padding: 0px 10px;
        }
    }

}

.marketing-agri {
    .grid_sec {
        grid-template-columns: repeat(4, 1fr);

        @media(max-width:767px) {
            grid-template-columns: repeat(2, 1fr);

        }
    }
}